.container {
  //max-width: 120rem;
  //max-width: 150rem;
  //margin: 8rem auto;
  //margin: 2rem auto;
  margin: 10px auto;
  //background-color: var(--color-grey-light-1);
  //box-shadow: var(--shadow-dark);

  //min-height: 50rem;
  //height: 100rem;
  //height: 100%;
}

.header {
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--color-grey-light-2);

  //font-size: 1.8rem;

  display: flex; //parent of header items
  justify-content: space-between; //align elements in main axis
  align-items: center; //align items in cross axis
}

.content {
  //display: flex;
}

.sidebar {
  background-color: var(--color-grey-dark-1);

  //flex: 0 0 18%;

}

.content-view {
  //background-color: var(--color-grey-light-1);

  background-color: #fff;

  //flex: 1;
}